.label {
  display: block;
  color: var(--white-60);
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
  @include spacing(margin, 8, 'bottom');
}

.textRight {
  text-align: right;
}
