.dot {
  width: rem(8);
  height: rem(8);
  border-radius: 50%;
  box-shadow: 0px rem(4) rem(4) rgba(0, 0, 0, 0.25);
}

.blue {
  background-color: #07a6c9;
}

.red {
  background-color: #ff3f57;
}

.orange {
  background-color: #ff6e1d;
}

.purple {
  background-color: #b5b5f8;
}

.green {
  background-color: #4bb475;
}

.gray {
  background-color: gray;
}

.white {
  background-color: var(--white);
}
