:root {
  // White
  --white: #ffffff;
  --white-60: #9d9daa;
  --white-30: #54565b;
  --white-20: #394050;
  --white-10: #35333e;
  --white-5: #212027;

  // Gray
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-650: #999999;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;
  --gray-950: #0b0e15;

  // Green
  --green-10: #132422;
  --green-30: #5ee192;
  --green-40: #68f4a0;
  --green: #4bb475;
  --dark-green: #132422;
  --light-green: #68f4a0;

  // Green RGBA
  --green-rgba: rgba(94, 225, 146, 0.2);

  // Purple
  --purple: #561198;

  --purple-10: #1a0e2f;
  --purple-20: #220f3d;
  --purple-30: #561198;

  // Purple RGBA
  --purple-rgba: rgba(86, 17, 152, 0.3);

  // Gray RGBA
  --gray-rgba: rgba(28, 30, 38, 0.3);

  // Red
  --red: #ff3f57;

  // Red RGBA
  --red-rgba: rgba(255, 68, 5, 0.3);

  // Yellow
  --yellow: #fec84b;

  // Yellow RGBA
  --yellow-rgba: rgba(254, 200, 75, 0.3);
}
