:root {
  --white: #ffffff;
  --black: #000000;

  // Gray
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;
  --gray-950: #0b0e15;

  // Green RGBA
  --green-rgba: rgba(94, 225, 146, 0.2);

  // Purple RGBA
  --purple-rgba: rgba(86, 17, 152, 0.3);

  // Gray RGBA
  --gray-rgba: rgba(28, 30, 38, 0.3);

  // Green
  --green: #5ee192;
}
