.display-inline-flex {
  display: inline-flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.isDropdownActive {
  background: var(--purple);
}

.isLinkActive {
  @include font-size('text-sm', 'bold');
  background: var(--gray-950);
  color: var(--gray-100);
  cursor: default;
}

.gap-0 {
  gap: 0 !important;
}

.gap-12 {
  gap: px-to-rem(12) !important;
}

.mb-10 {
  margin-bottom: px-to-rem(10) !important;
}
