.display-inline-flex {
  display: inline-flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.isDropdownActive,
.isDropdownActive:hover {
  background: var(--purple-30);
}

.isLinkActive,
.isLinkActive:hover {
  @include font-size('text-sm', 'bold');
  background: rgba(0, 0, 0, 0.2);
  color: var(--white-60);
  cursor: default;
}

.gap-0 {
  gap: 0 !important;
}

.gap-3 {
  gap: rem(3) !important;
}

.gap-4 {
  gap: rem(4) !important;
}

.gap-5 {
  gap: rem(5) !important;
}

.gap-6 {
  gap: rem(6) !important;
}

.gap-8 {
  gap: rem(8) !important;
}

.gap-10 {
  gap: rem(10) !important;
}

.gap-12 {
  gap: rem(12) !important;
}

.gap-15 {
  gap: rem(15) !important;
}

.gap-16 {
  gap: rem(16) !important;
}

.gap-24 {
  gap: rem(24) !important;
}

.mt-7 {
  margin-top: rem(7) !important;
}

.mt-8 {
  margin-top: rem(8) !important;
}

.mt-10 {
  margin-top: rem(10) !important;
}

.mt-12 {
  margin-top: rem(12) !important;
}

.mt-16 {
  margin-top: rem(16) !important;
}

.mb-0 {
  margin-bottom: rem(0) !important;
}

.mb-4 {
  margin-bottom: rem(4) !important;
}

.mb-10 {
  margin-bottom: rem(10) !important;
}

.mb-12 {
  margin-bottom: rem(12) !important;
}

.mb-13 {
  margin-bottom: rem(13) !important;
}

.mb-14 {
  margin-bottom: rem(14) !important;
}

.mb-15 {
  margin-bottom: rem(15) !important;
}

.mb-18 {
  margin-bottom: rem(18) !important;
}

.mb-20 {
  margin-bottom: rem(20) !important;
}

.mb-24 {
  margin-bottom: rem(24) !important;
}

.mt-64 {
  margin-top: rem(64) !important;
}

.mt-125 {
  margin-top: rem(125) !important;
}

.font-lato {
  font-family: $lato !important;
}

.mb-5 {
  margin-bottom: rem(5) !important;
}

.mb-16 {
  margin-bottom: rem(16) !important;
}

.mb-20 {
  margin-bottom: rem(20) !important;
}

.mb-32 {
  margin-bottom: rem(32) !important;
}

.mb-34 {
  margin-bottom: rem(34) !important;
}

.mt-32 {
  margin-top: rem(32) !important;
}

.mr-10 {
  margin-right: rem(10) !important;
}

.mr-20 {
  margin-right: rem(20) !important;
}

.mr-2 {
  margin-right: rem(2) !important;
}

.ml-2 {
  margin-left: rem(2) !important;
}

.mt-14 {
  margin-top: rem(14) !important;
}

.mt-15 {
  margin-top: rem(15) !important;
}

.mt-20 {
  margin-top: rem(20) !important;
}

.mt-24 {
  margin-top: rem(24) !important;
}

.mt-30 {
  margin-top: rem(30) !important;
}

.mt-35 {
  margin-top: rem(35) !important;
}

.mt-40 {
  margin-top: rem(40) !important;
}

.mr-50 {
  margin-right: rem(50) !important;
}

.ml-14 {
  margin-left: rem(14) !important;
}

.ml-24 {
  margin-left: rem(24) !important;
}

.ml-48 {
  margin-left: rem(48) !important;
}

.mtb-20 {
  margin-top: rem(20) !important;
  margin-bottom: rem(20) !important;
}

.p-30 {
  padding: rem(30) !important;
}

.ptb-8 {
  padding-top: rem(8) !important;
  padding-bottom: rem(8) !important;
}

.ptb-24 {
  padding-top: rem(24) !important;
  padding-bottom: rem(24) !important;
}

.ptb-150 {
  padding-top: rem(150) !important;
  padding-bottom: rem(150) !important;
}

.plr-6 {
  padding-left: rem(6) !important;
  padding-right: rem(6) !important;
}

.plr-30 {
  padding-left: rem(30) !important;
  padding-right: rem(30) !important;
}

.width-90 {
  width: 90px !important;
}

.nowrap {
  white-space: nowrap;
}

.p-10 {
  @include spacing(padding, 10, 'left+right');
  @include spacing(padding, 10, 'top+bottom');
}

.p-20 {
  @include spacing(padding, 20, 'left+right');
  @include spacing(padding, 20, 'top+bottom');
}

.color-grey-400 {
  color: var(--white-rgba-20);
}

.position-relative {
  position: relative !important;
}

.br-20 {
  border-radius: rem(20) !important;

  &:before,
  &:after {
    border-radius: rem(20) !important;
  }
}

.br-22 {
  border-radius: rem(22) !important;
}

.color-white {
  color: var(--white) !important;
}

.fs-xs {
  @include font-size('text-xs', 'regular');
}

.fs-xxs {
  @include font-size('text-xxs', 'regular');
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.width-50 {
  flex-grow: 0;
  flex-basis: 55%;
}

.recharts-layer path:focus {
  outline: none !important;
}

.align-stretch {
  align-items: stretch !important;
}

.box-shadow-panel {
  box-shadow:
    2px 2px 4px 0px rgba(0, 0, 0, 0.15),
    0px 0px 4px 0px rgba(43, 46, 58, 0.15) inset,
    0px 0px 15px 0px rgba(43, 46, 58, 0.15) inset;
}

.flexGrow {
  flex-grow: 1;
}
