.display-inline-flex {
  display: inline-flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.isDropdownActive {
  background: var(--purple-30);
}

.isLinkActive {
  @include font-size('text-sm', 'bold');
  background: var(--purple-10);
  color: var(--white-60);
  cursor: default;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: rem(5) !important;
}

.gap-6 {
  gap: rem(6) !important;
}

.gap-8 {
  gap: rem(8) !important;
}

.gap-10 {
  gap: rem(10) !important;
}

.gap-12 {
  gap: rem(12) !important;
}

.gap-15 {
  gap: rem(15) !important;
}

.gap-24 {
  gap: rem(24) !important;
}

.mb-10 {
  margin-bottom: rem(10) !important;
}

.mt-10 {
  margin-top: rem(10) !important;
}

.mt-16 {
  margin-top: rem(16) !important;
}

.mb-0 {
  margin-bottom: rem(0) !important;
}

.mb-13 {
  margin-bottom: rem(13) !important;
}

.mb-14 {
  margin-bottom: rem(14) !important;
}

.mb-24 {
  margin-bottom: rem(24) !important;
}

.mt-64 {
  margin-top: rem(64) !important;
}

.mt-116 {
  margin-top: rem(116) !important;
}

.font-lato {
  font-family: $lato !important;
}

.mb-5 {
  margin-bottom: rem(5) !important;
}

.mb-16 {
  margin-bottom: rem(16) !important;
}

.mb-32 {
  margin-bottom: rem(32) !important;
}

.mt-32 {
  margin-top: rem(32) !important;
}

.mr-10 {
  margin-right: rem(10) !important;
}

.mr-20 {
  margin-right: rem(20) !important;
}

.mr-2 {
  margin-right: rem(2) !important;
}

.ml-2 {
  margin-left: rem(2) !important;
}

.mt-14 {
  margin-top: rem(14) !important;
}

.mt-15 {
  margin-top: rem(15) !important;
}

.mt-35 {
  margin-top: rem(35) !important;
}

.mr-50 {
  margin-right: rem(50) !important;
}

.ml-24 {
  margin-left: rem(24) !important;
}

.p-30 {
  padding: rem(30) !important;
}

.ptb-8 {
  padding-top: rem(8) !important;
  padding-bottom: rem(8) !important;
}

.plr-8 {
  padding-left: rem(8) !important;
  padding-right: rem(8) !important;
}

.width-90 {
  width: 90px !important;
}

.nowrap {
  white-space: nowrap;
}

.p-20 {
  @include spacing(padding, 20, 'left+right');
  @include spacing(padding, 20, 'top+bottom');
}

.color-white {
  color: var(--white);
}

.color-grey-400 {
  color: var(--white-rgba-20);
}

.position-relative {
  position: relative !important;
}

.br-20 {
  border-radius: rem(20) !important;
}

.br-22 {
  border-radius: rem(22) !important;
}

.color-white {
  color: var(--white) !important;
}

.fs-xs {
  @include font-size('text-xxs', 'regular');
}

.u-full-width {
  width: 100% !important;
}

.width-50 {
  flex-grow: 0;
  flex-basis: 55%;
}
