.display-inline-flex {
  display: inline-flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.isDropdownActive {
  background: var(--purple-30);
}

.isLinkActive {
  @include font-size('text-sm', 'bold');
  background: var(--purple-10);
  color: var(--white-60);
  cursor: default;
}

.gap-0 {
  gap: 0 !important;
}

.gap-12 {
  gap: rem(12) !important;
}

.mb-10 {
  margin-bottom: rem(10) !important;
}

.mt-10 {
  margin-top: rem(10) !important;
}

.mb-14 {
  margin-bottom: rem(14) !important;
}

.mb-24 {
  margin-bottom: rem(24) !important;
}

.mt-64 {
  margin-top: rem(64) !important;
}

.font-lato {
  font-family: $lato !important;
}

.mb-5 {
  margin-bottom: rem(5) !important;
}

.mb-16 {
  margin-bottom: rem(16) !important;
}

.mb-32 {
  margin-bottom: rem(32) !important;
}

.mt-32 {
  margin-top: rem(32) !important;
}

.mr-10 {
  margin-right: rem(10) !important;
}

.mr-20 {
  margin-right: rem(20) !important;
}

.mr-2 {
  margin-right: rem(2) !important;
}

.ml-2 {
  margin-left: rem(2) !important;
}

.mt-14 {
  margin-top: rem(14) !important;
}

.mt-35 {
  margin-top: rem(35) !important;
}

.mr-50 {
  margin-right: rem(50) !important;
}

.ml-24 {
  margin-left: rem(24) !important;
}

.width-90 {
  width: 90px !important;
}

.nowrap {
  white-space: nowrap;
}

.p-20 {
  @include spacing(padding, 20, 'left+right');
  @include spacing(padding, 20, 'top+bottom');
}

.color-white {
  color: var(--white);
}

.color-grey-400 {
  color: var( --white-rgba-20);
}

.position-relative {
  position: relative !important;
}
