.container {
  flex: 1 0 auto;

  label:first-child {
    @include font-size('text-xs', 'regular');
    @include spacing(margin, 8, 'bottom');
    display: flex;
    color: var(--white-60);
    font-family: $lato;
  }
}
