.container {
  flex: 1 0 auto;

  label:first-child {
    @include font-size('text-xs', 'regular');
    @include spacing(margin, 8, 'bottom');
    display: flex;
    align-items: center;
    gap: rem(4);
    color: var(--white-60);
    font-family: $lato;
  }
}

.labelHidden {
  visibility: hidden;
}

@media (max-width: $desktop){
  .container{
    flex: initial;
  }
}