.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: px-to-rem(32);
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0 0 20%;
	overflow: auto;
}

.main {
	flex: 1;
	overflow: auto;
}

.component {
	margin-bottom: 20px;
}
