.container {
  @include spacing(padding, 24, 'left+right');
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(32);
  max-width: map-get($container-sizes, xl);
}

.sidebar {
  @include spacing(padding, 12, 'all');
  display: flex;
  flex-direction: column;
  width: 15%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10rem);
  position: relative;
  border-radius: rem(8);

  &:before {
    content: '';
    position: absolute;
    border-radius: rem(8);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    border: rem(1) solid transparent;
    background: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    opacity: 0.2;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    background-image: url('../../../assets/noise.png');
    background-repeat: repeat;
    position: absolute;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: rem(8);
  }

  h3 {
    @include font-size('text-sm', 'bold');
    color: var(--white);
  }

  > * {
    z-index: 1;
    position: relative;
  }
}

.main {
  @include spacing(padding, 40, 'top+bottom');
  flex: 1;
  margin: 0 auto;
  color: var(--white);
}

.component {
  @include spacing(margin, 40, 'top+bottom');
}

.codeBlock {
  position: relative;
  margin: rem(20) auto;
  max-width: map-get($container-sizes, md);

  .titleBar {
    @include font-size('text-sm', 'bold');
    @include spacing(padding, 12, 'all');
    display: flex;
    justify-content: space-between;
    background-color: #24292e;
    color: var(--white);
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
  }

  pre {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: rem(8);
    border-bottom-right-radius: rem(8);
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);

  span {
    @include font-size('text-sm', 'bold');
    display: flex;
    align-items: center;
    gap: rem(8);
  }
}

.badge {
  @include font-size('text-sm', 'bold');
  @include spacing(padding, 4, 'top+bottom');
  @include spacing(padding, 8, 'left+right');
  border-radius: rem(8);
  border: rem(1) solid;
}

.yellow {
  color: #efb646;
  border-color: #efb646;
}

.green {
  color: #5ee192;
  border-color: #5ee192;
}

.red {
  color: #ff3f57;
  border-color: #ff3f57;
}

.blue {
  color: #7da2ea;
  border-color: #7da2ea;
}
