.instructions {
  display: flex;
  flex-direction: column;
  gap: rem(6);

  div {
    display: inline-flex;
    align-items: center;
    gap: rem(6);

    color: var(--white-60);
    font-family: $roboto;
    @include font-size('text-sm', 'regular');
  }
}

.additionalInstructions {
  display: flex;
  flex-direction: column;

  div {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(6);

    color: var(--white-60);
    font-family: $roboto;
    @include font-size('text-sm', 'regular');
  }
}

.label {
  display: inline-flex;
  align-items: center;
  gap: rem(4);
  color: var(--white-60);
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
  @include spacing(margin, 6, 'bottom');
}

.inputWrapper {
  div {
    width: rem(96);
    input {
      width: 0;
    }
  }
}

.collateralWrapper {
  align-self: center;
  display: inline-flex;
  align-items: center;
  gap: rem(9);
  @include spacing(margin, 16, 'top');

  color: var(--white);
  font-family: $roboto;
  @include font-size('text-sm', 'regular');
}

.amountWrapper {
  display: flex;
  align-items: center;
  gap: rem(4);
}

.amount {
  color: var(--white);
  font-family: $roboto;
  @include font-size('text-md', 'semibold');
}

.currency {
  color: var(--white);
  font-family: $lato;
  @include font-size('text-xs', 'regular');
}

.calculationWrapper {
  display: flex;
  align-items: center;
  gap: rem(32);
}

.calculation {
  display: inline-flex;
  align-items: center;
  gap: rem(14);

  color: var(--white);
  font-family: $roboto;
  @include font-size('text-sm', 'regular');
}

.payoff {
  position: relative;

  h4 {
    position: absolute;

    color: var(--white);
    font-family: $lato;
    @include font-size('text-md', 'semibold');
  }
}

.orderSummary {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: rem(16);
}

.summary {
  h3 {
    color: var(--white);
    font-family: $roboto;
    margin-bottom: 0;
    @include font-size('text-md', 'regular');
  }

  h5 {
    color: var(--white);
    font-family: $lato;
    @include font-size('text-xs', 'regular');
    @include spacing(margin, 6, 'bottom');
  }

  h6 {
    color: var(--white-60);
    font-family: $lato;
    @include font-size('text-xxs', 'regular');
    @include spacing(margin, 4, 'bottom');
  }

  p {
    color: var(--white-60);
    font-family: $lato;
    @include font-size('text-xs', 'regular');
  }

  small {
    color: var(--white-60);
    font-family: $roboto;
    @include font-size('text-xxs', 'regular');
  }
}

.summaryInfoWrapper {
  display: flex;
  align-items: center;
  gap: rem(4);
}
