.table {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8);

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(28, 30, 38, 0.3) 11.98%, rgba(28, 30, 38, 0.6) 100%);
    box-shadow:
      px-to-rem(2) px-to-rem(2) px-to-rem(5) px-to-rem(0) rgba(0, 0, 0, 0.25),
      px-to-rem(0) px-to-rem(0) px-to-rem(5) px-to-rem(2) rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(px-to-rem(10));
    border-radius: px-to-rem(18);

    &.header {
      @include font-size('text-xs', 'regular');
      color: var(--gray-400);
      background: none;
      box-shadow: none;
      backdrop-filter: none;

      .cell {
        padding: 0;
      }
    }
    &.data {
      color: var(--white);
    }
    .cell {
      @include spacing(padding, 6, 'top+bottom');
      @include spacing(padding, 10, 'left+right');
      @include font-size('text-sm', 'medium');

      display: flex;
      flex: 1;
      .strategy {
      width: 150px;
      }

      .dot {
        display: flex;
        align-items: center;
        gap: px-to-rem(8);
      }

      button {
        @include spacing(padding, 6, 'all');
        border-radius: 50%;
        background: #35333e;

        svg {
          height: px-to-rem(12);
          width: px-to-rem(12);
        }
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}
