.table {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: $roboto;
  color: var(--white-60);
  background: none;
  box-shadow: none;
  backdrop-filter: none;

  .cell {
    @include font-size('text-xs', 'regular');
    padding: 0;

    &:last-child {
      white-space: nowrap;
    }
  }
}

.row {
  @include spacing(padding, 10, 'all');
  height: rem(34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: rem(14);
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), rgba(255, 255, 255, 0.05);

  &:before {
    content: '';
    position: absolute;
    border-radius: rem(14);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    border: rem(1) solid transparent;
    background: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    opacity: 0.2;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    background-image: url('../../../assets/noise.png');
    background-repeat: repeat;
    position: absolute;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: rem(14);
  }

  .cell {
    @include font-size('text-sm', 'regular');
    font-family: $roboto;
    display: flex;
    z-index: 1;
    position: relative;
    flex: 1;

    &:nth-child(1) {
      @include font-size('text-sm', 'medium');
    }

    &:nth-child(5),
    &:last-child {
      justify-content: flex-end;
    }
  }

  button {
    @include spacing(padding, 6, 'all');
    border-radius: rem(6);
    background: var(--white-10);
    height: rem(16);
    width: rem(16);
    @include spacing(padding, 8, 'top+bottom');
    @include spacing(padding, 4, 'left+right');
  }

  .dot {
    display: flex;
    align-items: center;
    gap: rem(8);

    &:nth-child(1) {
      flex: 1;
    }
  }

  &:last-child {
    @include spacing(margin, 15, 'bottom');
  }
}

.emptyContainer {
  @include spacing(padding, 24, 'top+bottom');
  @include font-size('text-sm', 'regular');
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $lato;
}
