.row {
  @include spacing(margin, 64, 'bottom');
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  @include spacing(padding, 8, 'bottom');
  @include spacing(margin, 16, 'bottom');
  @include font-size('text-xs', 'medium');
  color: var(--gray-500);
  border-bottom: rem(1) solid var(--gray-800);
}

.column {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

// Roboto Text Xl
.RobotoTextXlRegular {
  font-family: $roboto;
  @include font-size('text-xl', 'regular');
}

.RobotoTextXlMedium {
  font-family: $roboto;
  @include font-size('text-xl', 'medium');
}

.RobotoTextXlBold {
  font-family: $roboto;
  @include font-size('text-xl', 'bold');
}

// Roboto Text Lg
.RobotoTextLgRegular {
  font-family: $roboto;
  @include font-size('text-lg', 'regular');
}

.RobotoTextLgMedium {
  font-family: $roboto;
  @include font-size('text-lg', 'medium');
}

.RobotoTextLgBold {
  font-family: $roboto;
  @include font-size('text-lg', 'bold');
}

// Roboto Text Md
.RobotoTextMdRegular {
  font-family: $roboto;
  @include font-size('text-md', 'regular');
}

.RobotoTextMdMedium {
  font-family: $roboto;
  @include font-size('text-md', 'medium');
}

.RobotoTextMdBold {
  font-family: $roboto;
  @include font-size('text-md', 'bold');
}

// Roboto Text Sm
.RobotoTextSmRegular {
  font-family: $roboto;
  @include font-size('text-sm', 'regular');
}

.RobotoTextSmMedium {
  font-family: $roboto;
  @include font-size('text-sm', 'medium');
}

.RobotoTextSmBold {
  font-family: $roboto;
  @include font-size('text-sm', 'bold');
}

// Roboto Text Xs
.RobotoTextXsRegular {
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
}

.RobotoTextXsMedium {
  font-family: $roboto;
  @include font-size('text-xs', 'medium');
}

.RobotoTextXsBold {
  font-family: $roboto;
  @include font-size('text-xs', 'bold');
}

// Lato Text Xl
.LatoTextXlRegular {
  font-family: $lato;
  @include font-size('text-xl', 'regular');
}

.LatoTextXlMedium {
  font-family: $lato;
  @include font-size('text-xl', 'medium');
}

.LatoTextXlSemibold {
  font-family: $lato;
  @include font-size('text-xl', 'semibold');
}

.LatoTextXlBold {
  font-family: $lato;
  @include font-size('text-xl', 'bold');
}

// Lato Text Lg
.LatoTextLgRegular {
  font-family: $lato;
  @include font-size('text-lg', 'regular');
}

.LatoTextLgMedium {
  font-family: $lato;
  @include font-size('text-lg', 'medium');
}

.LatoTextLgSemibold {
  font-family: $lato;
  @include font-size('text-lg', 'semibold');
}

.LatoTextLgBold {
  font-family: $lato;
  @include font-size('text-lg', 'bold');
}

// Lato Text Md
.LatoTextMdRegular {
  font-family: $lato;
  @include font-size('text-md', 'regular');
}

.LatoTextMdMedium {
  font-family: $lato;
  @include font-size('text-md', 'medium');
}

.LatoTextMdSemibold {
  font-family: $lato;
  @include font-size('text-md', 'semibold');
}

.LatoTextMdBold {
  font-family: $lato;
  @include font-size('text-md', 'bold');
}

// Lato Text Sm
.LatoTextSmRegular {
  font-family: $lato;
  @include font-size('text-sm', 'regular');
}

.LatoTextSmMedium {
  font-family: $lato;
  @include font-size('text-sm', 'medium');
}

.LatoTextSmSemibold {
  font-family: $lato;
  @include font-size('text-sm', 'semibold');
}

.LatoTextSmBold {
  font-family: $lato;
  @include font-size('text-sm', 'bold');
}

// Lato Text Xs
.LatoTextXsRegular {
  font-family: $lato;
  @include font-size('text-xs', 'regular');
}

.LatoTextXsMedium {
  font-family: $lato;
  @include font-size('text-xs', 'medium');
}

.LatoTextXsSemibold {
  font-family: $lato;
  @include font-size('text-xs', 'semibold');
}

.LatoTextXsBold {
  font-family: $lato;
  @include font-size('text-xs', 'bold');
}
