.wrapper {
  @include spacing('margin', 16, 'top');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-weight: 400;
  }
}

.mainPanel {
  padding: rem(26) rem(36) rem(60) rem(36);

  @include breakpoint(tablet) {
    padding: rem(16) rem(16) rem(48) rem(16);
  }

  p {
    font-family: $lato;
    font-size: rem(18);
    margin-bottom: rem(24);
    line-height: normal;
    @include breakpoint(tablet) {
      font-size: rem(16);
    }
  }
}

.programChecklist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

.listItem {
  display: flex;
  align-items: center;
  gap: rem(24);
  color: var(--white);

  @include breakpoint(tablet) {
    gap: rem(16);
  }
}

.listIcon {
  border-radius: 50%;
  background-color: var(--white-rgba-10);
  height: rem(50);
  width: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(tablet) {
    height: rem(40);
    width: rem(40);
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.itemName {
  flex: 1;
  font-family: $lato;
  font-size: rem(16);
  font-weight: 600;
  line-height: normal;
  @include breakpoint(tablet) {
    font-size: rem(14);
  }
}

.completedBtn {
  border-color: var(--green-30);
  color: var(--green-30);
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: rem(12);
  @include breakpoint(tablet) {
    position: relative;
    grid-column: span 2;
    grid-row: 2;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: rem(3);
  }
  > button {
    min-width: rem(138);
    font-size: rem(12);
    @include breakpoint(tablet) {
      min-width: rem(102);
      max-width: rem(102);
      padding: rem(10) rem(16);
      height: auto;
    }
  }
}

.completedTxt {
  font-family: $lato;
  color: var(--green-30);
  @include breakpoint(tablet) {
    font-size: rem(12);
    text-align: center;
    position: absolute;
    bottom: -3px;
    transform: translate3d(-50%, 100%, 0);
    text-align: center;
    margin: 0;
    left: 50%;
    white-space: nowrap;
  }
}

.regerralCodeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include spacing('margin', 24, 'top');
  p {
    color: var(--white);
    font-family: $lato;
    font-size: rem(14);
    font-weight: 400;
    margin: 0;
  }
  button {
    font-size: rem(12);
    max-width: rem(138);
    width: rem(138);
  }
}

.isConnected {
  color: var(--green-30);
}
