
.wrapper {
  @include spacing('margin', 16, 'top');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-weight: 400;
  }
}

.mainPanel {
  padding: rem(26) rem(36);
  
  @include breakpoint(tablet) {
    padding: rem(24) rem(16);
  }

  p {
    font-family: $lato;
    font-size: rem(18);
    margin-bottom: rem(24);
  }
}

.programChecklist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

.listItem {
  display: flex;
  align-items: center;
  gap: rem(24);
  color: var(--white);

  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: rem(8) rem(24);
  }
}

.listIcon {
  border-radius: 50%;
  background-color: rgba(var(--white), 0.1);
  height: rem(50);
  width: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemName {
  flex: 1;
}

.completedBtn {
  border-color: var(--green-30);
  color: var(--green-30);
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: rem(12);
  @include breakpoint(tablet) {
    grid-column: span 2;
    grid-row: 2;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: rem(6);
  }
  > button {
    min-width: rem(138);
    font-size: rem(12);
  }
}

.completedTxt {
  font-family: $lato;
  color: var(--green-30);
  @include breakpoint(tablet) {
    font-size: rem(12);
    text-align: right;
    @include spacing('margin', 12, 'right');
  }
}

.regerralCodeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include spacing('margin', 24, 'top');
  p {
    color: var(--white);
    font-family: $lato;
    font-size: rem(14);
    font-weight: 400;
    margin: 0;
  }
  button {
    font-size: rem(12);
    max-width: rem(138);
    width: rem(138);
  }
}

.isConnected {
  color: var(--green-30);
}
