.pagination {
  display: flex;
  align-items: center;
  gap: rem(24);
}

.pagination button {
  @include font-size('text-sm', 'regular');
  padding: 0;
  background: none;
  color: var(--white);
  height: auto;

  &:hover,
  &[disabled],
  &[disabled]:hover {
    background: none;
    color: var(--white);
  }
}
