.container {
  position: relative;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.row {
  display: flex;
  align-items: center;
  gap: rem(3);
}

.label {
  @include font-size('text-xs', 'semibold');
  font-family: $roboto;
  color: #9a9daa;
}

.tooltip {
  @include spacing(padding, 10, 'all');
  border-radius: rem(8);
  background: rgba(18, 23, 34, 0.7);
  box-shadow:
    rem(2) rem(2) rem(4) 0px rgba(0, 0, 0, 0.15),
    0px 0px rem(4) 0px rgba(43, 46, 58, 0.15) inset,
    0px 0px rem(15) 0px rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));

  p {
    @include spacing(margin, 8, 'bottom');
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
  }

  span {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
    display: flex;
    align-items: center;
    gap: rem(4);

    svg {
      height: rem(16);
      width: rem(16);
    }

    .number {
      @include font-size('text-md', 'regular');
      color: var(--white);
      font-family: $roboto;
    }
  }
}
