.wrapper {
  @include spacing('margin', 16, 'top');
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: rem(1040);

  h1 {
    font-weight: 400;
    @include breakpoint(tablet2) {
      font-size: rem(18);
      font-weight: 600;
    }
  }
}

.mainPanel {
  padding: rem(36) rem(52) rem(24) rem(52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include breakpoint(tablet2) {
    padding: rem(39) rem(60);
  }

  p {
    font-family: $lato;
    font-size: rem(18);
    margin-bottom: rem(32);
    @include breakpoint(tablet2) {
      font-size: rem(16);
      font-weight: 500;
      margin-bottom: rem(24);
    }
  }
  a {
    font-size: rem(24);
    font-weight: 700;
    color: var(--white);
    margin-bottom: rem(36);
    text-decoration: underline;
    word-break: break-word;
    @include breakpoint(tablet2) {
      font-size: rem(18);
      font-weight: 700;
      margin-bottom: rem(24);
    }
  }
  button {
    min-width: rem(124);
    font-size: rem(12);
    @include breakpoint(tablet2) {
      padding: rem(10) rem(16);
      height: auto;
    }
  }
}

.tabsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.referralsTab {
  align-self: center;
}

.referralPanel {
  display: flex;
  justify-content: center;
}

.leaderBoardCardsContainer {
  display: flex;
  gap: rem(16);
  @include spacing('margin', 16, 'bottom');
}
