.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  appearance: none;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(6);
}

.container {
  @include spacing(padding, 8, 'top+bottom');
  @include spacing(padding, 10, 'left+right');
  display: flex;
  align-items: center;
  gap: rem(4);
  background: #07080d;
  border-radius: rem(12);
  transition: $transition_all;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(12);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    background: var(--gradient-dark-border);
  }

  &:focus-within {
    border-color: var(--white);
  }

  input {
    flex: 1;
    background: none;
    outline: 0;
    border: 0;
    color: var(--white);
  }
}

.label,
.input input::placeholder {
  color: var(--white-60);
}

.label {
  font-family: $lato;
  @include font-size('text-xs', 'regular');
  cursor: pointer;
}
