.hideTable {
    opacity: 0.2;
}

.connectOverlay {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalBalanceText {
    @include font-size('text-sm', 'regular');
    color: var(--white-60);
    @include spacing(margin, 20, 'top+bottom');
}