.title {
  color: var(--white);
  margin-top: 24px;
}

.positionTitle {
  margin-bottom: 18px;
  margin-top: 24px;
  color: var(--white);
  & p {
    color: var( --white-rgba-20);
  }
}

.positionBuilder {
  margin-top: 15px;
  height: 257px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
}

.summary {
  height: 80px;
  margin-top: 118px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
}

.strategyPanel {
  margin-left: 15px;
}

.strategyWrapper {
  padding: 20px;
  z-index: 10;
  position: relative;
}

.summaryWrapper {
  margin-top: 120px;
}

.tableWrapper {
  min-height: 200px;
}

.dropDownWrapper {
  width: 150px;
}

.prePackagedTitle {
  color: var(--white);
  margin-top: 10px;
  margin-right: 12px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  align-items: center;

  p {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
    position: relative;
    // top: 40px;
    z-index: 9;
  }

  .product p {
    left: rem(6);
  }

  .type p {
    left: rem(148);
  }

  .side p {
    left: rem(296);
  }

  .size p {
    left: rem(220);
  }

  .strike p {
    left: rem(254);
  }
}


.title {
  grid-area: 1 / 1 / 2 / 2;
}

.type {
  grid-area: 1 / 2 / 2 / 3;
}

.side {
  grid-area: 1 / 3 / 2 / 4;
}

.size {
  grid-area: 1 / 4 / 2 / 5;
}

.strike {
  grid-area: 1 / 5 / 2 / 6;
}

.unitPrice {
  grid-area: 1 / 6 / 2 / 7;
}

.premium {
  grid-area: 1 / 7 / 2 / 8;
}


.clearAll {
  float: right;
  @include font-size('text-xs', 'regular');
}

.strategiesPlaceholder {
  width: rem(929);
  height: rem(94);
}

.strategiesWrapper {
  min-height: rem(200);
}