.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(1.7);
  width: 100%;
}

.amount {
  @include font-size('text-sm', 'regular');
  display: flex;
  width: 100%;
  justify-content: space-between;

  > span:first-child {
    flex: 1;
    text-align: right;
    margin-right: rem(7);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    svg {
      width: rem(16);
      height: rem(16);
    }
  }

  > span:last-child {
    flex: 1;
    text-align: left;
    margin-left: rem(7);
    color: var(--white-60);
  }
}
