.wrapper {
  @include spacing(padding, 6, 'left+right');
  @include spacing(padding, 8, 'top+bottom');
}

.inputWrapper {
  width: 90px;
  div {
    width: 90px;
    padding-left: 6px;
    input {
      width: 0px;
    }
  }
}

.productWrapper {
  width: 200px;
}

.priceLabel {
  color: var(--white);
  min-width: 60px;
  text-align: right;
  margin-top: 10px;
}

.logo {
  margin-top: 8px;
  margin-left: 8px;
}