.parent {
  display: grid;
  grid-template-columns: 22.163% 4.544% 9.42% 11.636% 9.42% 4.211% 9% 9% 13%;
  grid-template-rows: 1fr;
  grid-column-gap: rem(8);
  align-items: center;

  p {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
    position: relative;
    z-index: 9;
  }

  button {
    width: rem(114);
  }
}

.iv,
.collateral,
.premium,
.action {
  display: flex;
  justify-content: flex-end;
}

.side p {
  left: rem(10);
}

.size p,
.strike p,
.unitPrice p {
  left: rem(8);
}
