.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  align-items: center;

  p {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
    position: relative;
    // top: 40px;
    z-index: 9;
  }

  .side p {
    left: rem(100);
  }

  .size p {
    left: rem(27);
  }

  .strike p {
    left: rem(4);
  }

  .unitPrice p {
    left: rem(-7);
  }

  .premium p {
    left: rem(-50);
  }
}

.title {
  grid-area: 1 / 1 / 2 / 2;
}

.side {
  grid-area: 1 / 2 / 2 / 3;
}

.size {
  grid-area: 1 / 3 / 2 / 4;
}

.strike {
  grid-area: 1 / 4 / 2 / 5;
}

.unitPrice {
  grid-area: 1 / 5 / 2 / 6;
}

.collateral {
  grid-area: 1 / 6 / 2 / 7;
}

.premium {
  grid-area: 1 / 7 / 2 / 8;
}

.action {
  grid-area: 1 / 8 / 2 / 9;
}

.forwardPlaceholder {
  width: 100px;
}