.label {
  display: block;
  color: var(--white-60);
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
  @include spacing(margin, 8, 'bottom');
}

.textRight {
  text-align: right;
}

.greeksContainer {
  display: flex;
  align-items: center;
  gap: rem(4);
  @include spacing(padding, 10, 'left+right');
  @include spacing(padding, 10, 'bottom');
}

.greeksTitle {
  color: var(--white);
  font-family: $lato;
  width: rem(142);
  @include font-size('text-md', 'medium');
}

.greeks {
  width: rem(118);

  label {
    display: flex;
    align-items: center;
    gap: rem(2);
    color: var(--white-60);
    font-family: $roboto;
    @include font-size('text-xs', 'regular');
    @include spacing(margin, 4, 'bottom');

    span {
      color: var(--white-60);
      font-family: $lato;
      @include font-size('text-md', 'semi-bold');
    }
  }

  div {
    color: var(--white);
    font-family: $roboto;
    @include font-size('text-sm', 'regular');
  }
}
