.connectedWallet {
  @include font-size('text-sm', 'medium');
  font-family: $roboto;
  background: var(--white-10) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: rem(5) rem(5) rem(5) rem(19) !important;
  color: var(--white);
  border-width: rem(0);

  &:before {
    background: linear-gradient(var(--white-10) 0%, rgba(94, 225, 146, 0) 100%) !important;
  }
}

.connectWallet {
  @include font-size('text-xs', 'bold');
  font-family: $roboto;
  background: var(--green-20) !important;
  padding: rem(10) rem(16) !important;
  color: var(--white);
  border-width: rem(0);
  border-radius: rem(16);
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(16);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    background: linear-gradient(var(--green-30) 0%, rgba(94, 225, 146, 0) 100%);
  }
}

.wrongNetwork {
  @include font-size('text-xs', 'regular');
  font-family: $roboto;
  background: var(--red-20) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: rem(7) rem(16) !important;
  color: var(--white);
  border-width: rem(0);

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(16);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    background: linear-gradient(var(--red-20) 0%, rgba(228, 47, 47, 0) 100%) !important;
  }
}
