.radioButton {
  @include spacing(padding, 3, 'all');
  display: flex;
  background: var(--gray-rgba-40);
  gap: rem(5);
  position: relative;
  border-radius: rem(12);
  height: rem(34);

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(12);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    border: rem(1) solid transparent;
    background: linear-gradient(0deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    opacity: 0.2;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &.vertical {
    flex-direction: column;
    gap: 0;

    label {
      @include spacing(padding, 2, 'top+bottom');
      @include spacing(padding, 10, 'left+right');
      height: rem(15);
      min-width: rem(38);

      svg {
        height: rem(16);
        width: rem(16);
      }
    }

    .option:first-of-type {
      label:hover,
      input[type='radio']:checked + label {
        background: var(--green-10);
        border-color: var(--green-20);

        svg path {
          fill: var(--green-20);
        }
      }
    }

    .option:last-of-type {
      label:hover,
      input[type='radio']:checked + label {
        background: var(--red-10);
        border-color: var(--red-20);

        svg path {
          fill: var(--red-20);
        }
      }
    }
  }
}

.option {
  display: flex;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  label {
    @include font-size('text-xs', 'bold');
    @include spacing(padding, 8, 'top+bottom');
    transition: $transition_all;
    font-family: $roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(10);
    color: var(--white-60);
    cursor: pointer;
    min-width: rem(90);

    &:hover {
      color: var(--white);
    }
  }

  input[type='radio']:checked + label {
    background: var(--white-white-20, rgba(255, 255, 255, 0.2));
    border-color: var(--white);
    color: var(--white);
    cursor: default;
  }
}
