.radioButton {
  @include spacing(padding, 4, 'all');
  display: flex;
  background: #07080d;
  gap: rem(5);
  position: relative;
  border-radius: rem(12);

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(12);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    background: var(--gradient-dark-border);
  }

  &.vertical {
    flex-direction: column;
    gap: 0;

    label {
      @include spacing(padding, 2, 'top+bottom');
      @include spacing(padding, 10, 'left+right');
      height: rem(15);
      min-width: rem(38);

      svg {
        height: rem(16);
        width: rem(16);
      }
    }

    .option:first-of-type {
      label:hover,
      input[type='radio']:checked + label {
        background: var(--green-10);
        border-color: var(--green-20);

        svg path {
          fill: var(--green-20);
        }
      }
    }

    .option:last-of-type {
      label:hover,
      input[type='radio']:checked + label {
        background: var(--red-10);
        border-color: var(--red-20);

        svg path {
          fill: var(--red-20);
        }
      }
    }
  }
}

.option {
  position: relative;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  label {
    @include font-size('text-xs', 'bold');
    @include spacing(padding, 8, 'top+bottom');
    @include spacing(padding, 34, 'left+right');
    transition: $transition_all;
    font-family: $roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(10);
    color: var(--white-60);
    cursor: pointer;
    min-width: rem(90);

    &:hover {
      color: var(--white);
    }
  }

  input[type='radio']:checked + label {
    background: #383a3d;
    border-color: var(--white);
    color: var(--white);
    cursor: default;
  }
}
