.popupContainer {
  position: absolute !important;
  right: rem(52);
  bottom: rem(100);
  box-sizing: border-box;
  background: rgba(33,32,39,0.8);
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.15), 0 0 rem(4) 0 rgba(43, 46, 58, 0.15) inset, 0 0 rem(15) 0 rgba(43, 46, 58, 0.15) inset;
  border-radius: rem(10);
  padding: rem(6) rem(12);
  z-index: 5 !important;

  svg {
    height: rem(16);
    width: rem(16);
  }

  p {
    @include font-size('text-sm', 'regular');
    display: flex;
    align-items: center;
    gap: rem(4);
    font-family: $roboto;
    color: var(--white-60);
    line-height: rem(20);

    .popupBuyEth {
      padding-right: rem(3);
    }

    .popupIfEth {
      padding-right: rem(19);
    }

    .italic {
      font-style: italic;
    }
  }
}

.bonusOrTwinWin {
  width: rem(380);
}

.popupTopContainer {
  right: unset;
  bottom: unset;
}

.popupGreeksContainer {
  right: rem(40);
  bottom: rem(100);
  padding: unset;
}