.orderWrapper {
    margin-right: rem(40);
}

.platformWrapper {
    margin-left: auto;
    margin-right: rem(8);
    white-space: nowrap;
}

.balanceWarning {
    color: var(--red-20);
    @include font-size('text-xs', 'regular');
    position: absolute;
    bottom: -18px;
    left: 12px;
    display: flex;
    gap: 5px;
}

.balanceText {
    margin-top: -1px;
    white-space: nowrap;
}

.walletStyles {
    button {
        @include spacing(padding, 12, 'left+right');
        @include spacing(padding, 12, 'top+bottom');
        @include font-size('text-sm', 'bold');
        height: rem(40);
        border-radius: rem(20);
        width: 100%;
        &:before {
            border-radius: rem(20) !important;
        }
    }
}