.parent {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-column-gap: 6px;
  align-items: center;

  p {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    font-family: $lato;
    position: relative;
    // top: 40px;
    z-index: 9;
  }

  .side p {
    left: rem(120);
  }

  .size p {
    left: rem(48);
  }

  .strike p {
    left: rem(20);
  }

  .unitPrice p {
    left: rem(4);
  }

  .collateral p {
    left: rem(-20);
  }

  .premium p {
    left: rem(-80);
  }
}

.title {
  grid-area: 1 / 1 / 2 / 2;
}

.type {
  grid-area: 1 / 2 / 2 / 3;
}

.side {
  grid-area: 1 / 3 / 2 / 4;
}

.size {
  grid-area: 1 / 4 / 2 / 5;
}

.strike {
  grid-area: 1 / 5 / 2 / 6;
}

.unitPrice {
  grid-area: 1 / 6 / 2 / 7;
}

.premium {
  grid-area: 1 / 7 / 2 / 8;
}

.iv {
  grid-area: 1 / 8 / 2 / 9;
  display: flex;
  justify-content: flex-end;
  min-width: 20px;
}

.action {
  grid-area: 1 / 9 / 2 / 10;
  width: rem(30);
  height: rem(34);
}

.forwardPlaceholder {
  width: rem(100);
}