.table {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;

  .header,
  .row {
    display: flex;
    align-items: center;
    gap: rem(50);
  }

  .header {
    @include spacing(padding, 8, 'bottom');
    color: var(--white-60);
    border-bottom: rem(1) solid var(--white-rgba-10);

    .cell {
      @include font-size('text-xs', 'regular');
      width: calc(100% / 6);

      &:last-child {
        width: calc(rem(248) + rem(80));
      }
    }
  }

  .row {
    @include spacing(padding, 14, 'top+bottom');
    border-bottom: rem(1) solid var(--white-rgba-10);
    color: var(--white);

    p {
      @include font-size('text-md', 'medium');
      font-family: $roboto;
    }
  }

  .cell {
    @include font-size('text-md', 'regular');
    font-family: $roboto;
    // flex: 1;
    align-items: center;
    justify-content: center;
    width: calc(100% / 6);

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      text-align: right;
    }

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      gap: rem(8);
      width: auto;
    }

    svg {
      height: rem(24);
      width: rem(24);
    }
  }
}

.isOpacity {
  opacity: 0.1;
}
