.table {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;

p {
  white-space: pre-line;
}

  .header,
  .row {
    display: flex;
    align-items: center;
    gap: rem(50);

    @include breakpoint(tablet) {
      gap: rem(25);
    }

    @include breakpoint(mobile) {
      gap: rem(5);
    }
  }

  .header {
    @include spacing(padding, 8, 'bottom');
    color: var(--white-60);
    border-bottom: rem(1) solid var(--white-rgba-10);

    @include breakpoint(tablet) {
      align-items: flex-end;
    }

    .cell {
      @include font-size('text-xs', 'regular');
      width: calc(100% / 6);

      @include breakpoint(tablet) {
        @include font-size('text-xxs', 'regular');
        width: calc(100% / 5);
      }

      &:first-child {
        @include breakpoint(mobile) {
          width: 25%;
        }
      }

      &:last-child {
        width: calc(rem(248) + rem(80));

        // @include breakpoint(tablet) {
        //   display: none;
        // }
      }
    }
  }

  .row {
    @include spacing(padding, 14, 'top+bottom');
    border-bottom: rem(1) solid var(--white-rgba-10);
    color: var(--white);

    p {
      @include font-size('text-md', 'medium');
      font-family: $roboto;

      @include breakpoint(tablet) {
        @include font-size('text-sm', 'regular');
      }

      @include breakpoint(mobile) {
        @include font-size('text-xs', 'regular');
      }
    }
  }

  .cell {
    @include font-size('text-md', 'regular');
    font-family: $roboto;
    align-items: center;
    justify-content: center;
    width: calc(100% / 6);

    @include breakpoint(tablet) {
      @include font-size('text-sm', 'regular');
      width: calc(100% / 5);
    }

    @include breakpoint(mobile) {
      @include font-size('text-xs', 'regular');
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      text-align: right;
    }

    &:first-child {
      justify-content: flex-start;

      @include breakpoint(mobile) {
        width: 25%;
      }
    }

    &:last-child {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      gap: rem(8);
      width: auto;
      width: calc(rem(248) + rem(80));

      // @include breakpoint(tablet) {
      //   display: none;
      // }
    }

    svg {
      height: rem(24);
      width: rem(24);
    }
  }
}

.isOpacity {
  opacity: 0.1;
}
