.table {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(28, 30, 38, 0.3) 11.98%, rgba(28, 30, 38, 0.6) 100%);
    box-shadow:
      rem(2) rem(2) rem(5) rem(0) rgba(0, 0, 0, 0.25),
      rem(0) rem(0) rem(5) rem(2) rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(rem(10));
    border-radius: rem(18);

    &.header {
      @include font-size('text-xs', 'regular');
      color: var( --white-rgba-20);
      background: none;
      box-shadow: none;
      backdrop-filter: none;

      .cell {
        padding: 0;
      }
    }
    &.data {
      color: var(--white);
    }
    .cell {
      @include spacing(padding, 6, 'top+bottom');
      @include spacing(padding, 10, 'left+right');
      @include font-size('text-sm', 'medium');

      display: flex;
      flex: 1;
      // .strategy {
      // width: 150px;
      // }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}
