.acknowledgeTerms {
  font-family: $roboto;
  line-height: 1rem;
  .title {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .title > a {
    text-decoration: underline;
    color: var(--green-30);
  }
  .checkBox {
    margin-bottom: 20px;
  }
  .labelCheckBox {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }

  .button {
    width: 49%;
  }
  .primaryButton {
    margin-top: 0px;
  }
}
