.btn {
  @include font-size('text-sm', 'bold');
  transition: $transition_all;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

// Sizes
.btn--sm {
  @include spacing(padding, 8, 'left+right');
  @include spacing(padding, 8, 'top+bottom');
}

.btn--md {
  @include spacing(padding, 16, 'left+right');
  @include spacing(padding, 12, 'top+bottom');
}

.btn--lg {
  @include spacing(padding, 32, 'left+right');
  @include spacing(padding, 12, 'top+bottom');
}

.btn--xl {
  @include spacing(padding, 24, 'left+right');
  @include spacing(padding, 12, 'top+bottom');
}

.btn--2xl {
  @include spacing(padding, 32, 'left+right');
  @include spacing(padding, 16, 'top+bottom');
}

.btn[disabled],
.btn[disabled]:hover {
  border-radius: px-to-rem(25);
  cursor: not-allowed;
  background: var(--gray-600);
  color: var(--gray-900);
}

// Variants
.btn--primary {
  border-radius: px-to-rem(25);
  background: var(--green);
}

.btn--secondary {
  border-radius: px-to-rem(25);
  border: 1px solid var(--Purple1, #561198);
  background: var(--Purple-1-Button, rgba(86, 17, 152, 0.2));
  color: var(--white);
  gap: px-to-rem(4);

  svg path {
    fill: var(--white);
  }
}

.btn--tertiary {
  border-radius: px-to-rem(25);
  gap: px-to-rem(8);
  color: #5ee192;
  background: none;
}

.btn--icon {
  background: none;
  padding: 0;
}

.btn--dropdown {
  background: var(--purple-rgba);
  color: var(--white);
  border: px-to-rem(1) solid var(--purple);
  border-bottom: 0;
  justify-content: space-between;

  &:last-child {
    border-bottom: px-to-rem(1) solid var(--purple);
  }

  &:hover {
    background: var(--purple);
  }
}

.btn--link {
  @include font-size('text-sm', 'regular');
  background: none;
  color: var(--gray-300);
  justify-content: flex-start;

  &:hover {
    background: var(--gray-950);
    color: var(--gray-100);
  }
}

.btn--tab {
  @include spacing(padding, 8, 'bottom');
  @include font-size('text-md', 'regular');
  background: none;
  padding: 0;
  border-bottom: px-to-rem(1) solid transparent;
  color: var(--gray-400);
}
