.btn {
  transition: $transition_all;
  font-family: $roboto;
  border-radius: rem(24);
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

// Sizes
.btn--sm {
  @include spacing(padding, 16, 'left+right');
  @include spacing(padding, 10, 'top+bottom');
  @include font-size('text-xs', 'bold');
}

.btn--lg {
  @include spacing(padding, 16, 'left+right');
  @include spacing(padding, 12, 'top+bottom');
  @include font-size('text-sm', 'bold');
}

// Variants
.btn--primary {
  background: var(--green-30);
  color: var(--white-20);

  &:hover {
    background: var(--green-40);
  }

  &[disabled],
  &[disabled]:hover {
    background: var(--white-30);
    color: var(--white-10);
    cursor: not-allowed;
  }
}

.btn--secondary {
  background: var(--purple-10);
  border: rem(1) solid var(--purple-30);
  color: var(--white);

  &:hover {
    background: var(--purple-20);
  }

  &[disabled],
  &[disabled]:hover {
    background: transparent;
    color: var(--white-30);
    border-color: var(--white-30);
    cursor: not-allowed;
  }
}

.btn--outline {
  background: transparent;
  border: rem(1) solid var(--green-30);
  color: var(--green-30);

  &:hover {
    background: rgba(94, 225, 146, 0.1);
  }

  &[disabled],
  &[disabled]:hover {
    background: transparent;
    color: var(--white-30);
    border-color: var(--white-30);
    cursor: not-allowed;
  }
}

.btn--icon {
  background: none;
  padding: 0;
}

// TO BE REMOVED
.btn--dropdown {
  @include spacing(padding, 12, 'all');
  border-radius: 0;
  background: var(--purple-rgba);
  color: var(--white);
  border: rem(1) solid var(--purple);
  border-bottom: 0;
  justify-content: space-between;

  &:last-child {
    border-bottom: rem(1) solid var(--purple);
  }

  &:hover {
    background: var(--purple);
  }
}

.btn--link {
  @include spacing(padding, 12, 'all');
  @include font-size('text-sm', 'regular');
  border-radius: 0;
  background: none;
  color: var(--gray-300);
  justify-content: flex-start;

  &:hover {
    background: var(--purple-30);
    color: var(--gray-100);
  }
}

.btn--tab {
  @include spacing(padding, 8, 'bottom');
  @include font-size('text-md', 'regular');
  background: none;
  padding: 0;
  border-bottom: rem(1) solid transparent;
  color: var(--gray-400);
}
