.title {
  color: white;
  margin-top: 24px;
}

.positionBuilder {
  margin-top: 15px;
  height: 257px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
  width: 912px;
}

.summary {
  height: 80px;
  width: 912px;
  margin-top: 118px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
}

.strategy {
  height: 550px;
  width: 465px;
  border-radius: 30px;
  padding: 20px;
  background-color: rgba(28, 32, 40, 0.4);
  margin-left: 16px;
  color: white;
}