.title {
  color: white;
  margin-top: 24px;
}

.positionTitle {
  margin-bottom: 18px;
  margin-top: 24px;
  color: var(--white);
  & p {
    color: var(--gray-400);
  }
}

.positionBuilder {
  margin-top: 15px;
  height: 257px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
  width: 912px;
}

.summary {
  height: 80px;
  width: 912px;
  margin-top: 118px;
  background-color: rgba(28, 32, 40, 0.4);
  border-radius: 30px;
}

.strategyPanel {
  margin-left: 15px;
}

.diagramPlaceholder {
  width: 425px;
  height: 264px;
  border: 1px solid white;
  padding: 10px;
  color: var(--white);
  margin-top: 5px;
}

.payOffTitle {
  color: white;
}

.summaryWrapper {
  margin-top: 120px;
}