.labelValue {
  @include spacing(padding, 12, 'left');
  display: flex;
  flex-direction: column;
  gap: rem(4);
  border-left: rem(1) solid var(--white-10);
}

.label {
  @include font-size('text-xs', 'regular');
  font-family: $lato;
  color: var(--green-30);
}

.labelDropdown {
  flex-direction: row;
  align-items: center;
  gap: rem(4);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: rem(4);
}

.value {
  @include font-size('text-sm', 'regular');
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: rem(4);
  color: var(--white);
}

.subValue {
  @include font-size('text-xxs', 'regular');
  color: var(--white-60);
}
