.tooltipLabel {
  font-family: 'Roboto';
  color: #ffffff99;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}

.tooltipValue {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 3px;
}

.contentList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.totalContainer {
  background-color: #35333e;
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.totalCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.cContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  p {
    color: #9a9daa;
  }
}

.cCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b5b5f8;
}

.pContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  p {
    color: #9a9daa;
  }
}

.pCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3f57;
}

.fContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  p {
    color: #9a9daa;
  }
}

.fCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff6e1d;
}
