.tooltipLabel {
  @include font-size('text-xxs', 'semibold');
  font-family: $roboto;
  color: var(--gray-650);
  text-align: center;
}

.tooltipValue {
  @include font-size('text-xs', 'regular');
  font-family: $roboto;
  text-align: center;
  margin-top: rem(3);
}

.contentList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  margin-top: rem(10);
}

.unlimited {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rem(5);
  margin-bottom: rem(5);
  p {
    font-family: $roboto;
    @include font-size('text-xs', 'regular');
  }
  h2 {
    font-family: $roboto;
    @include font-size('text-xxs', 'regular');
    color: var(--green-30);
  }
  h3 {
    font-family: $roboto;
    @include font-size('text-xxs', 'bold');
    color: var(--white);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
}

.badge {
  @include spacing(padding, 4, 'top+bottom');
  @include spacing(padding, 8, 'left+right');
  background: var(--gray-600);
  border-radius: rem(10);
}

.key {
  display: flex;
  align-items: center;
  gap: rem(4);

  p {
    @include font-size('text-xs', 'regular');
    font-family: $roboto;
    color: var(--white);
  }

  &.badge p {
    color: var(--white);
  }
}

.redColor {
  color: var(--red-20);
}

.greenColor {
  color: var(--green-30);
}
