.container {
  @include spacing(padding, 40, 'left+right');
  margin: 0 auto;
  width: 100%;

  @include breakpoint(tablet) {
    @include spacing(padding, 24, 'left+right');
  }

  &.sm {
    max-width: map-get($container-sizes, sm);
  }

  &.md {
    max-width: map-get($container-sizes, md);
  }

  &.lg {
    max-width: map-get($container-sizes, lg);
  }

  &.xl {
    max-width: map-get($container-sizes, xl);
  }
}
