.instructions {
  display: flex;
  flex-direction: column;
  gap: rem(6);

  div {
    display: inline-flex;
    align-items: center;
    gap: rem(6);

    color: var(--white-60);
    font-family: $roboto;
    @include font-size('text-sm', 'regular');
  }
}

.sliderTitle {
  display: inline-flex;
  align-items: center;
  gap: rem(4);
  @include spacing(margin, 16, 'bottom');

  color: var(--white);
  font-family: $lato;
  @include font-size('text-md', 'regular');
}

.earnInputs {
  display: flex;
  gap: rem(36);
  @include spacing(margin, 16, 'bottom');
}

.label {
  color: var(--white-60);
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  column-gap: rem(15);
  row-gap: rem(6);
}

.inputHint {
  font-family: $lato;
  font-style: italic;
}

.earn {
  color: var(--white);
  font-family: $roboto;
  @include font-size('text-md', 'semibold');
}

.aprWrapper {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: rem(8);
}

.apr {
  color: var(--white);
  font-family: $roboto;
  @include font-size('text-xs', 'regular');
}
