.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(6);
}

.label {
  font-family: $lato;
  @include font-size('text-xs', 'regular');
  color: var(--white-60);
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: rem(100);
}

.input {
  @include spacing(padding, 8, 'all');
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #07080d;
  border-radius: rem(12);
  gap: rem(4);
  height: rem(34);
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: rem(12);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    background: var(--gradient-dark-border);
  }

  span {
    @include font-size('text-md', 'regular');
    font-family: $roboto;
    color: var(--white);
    box-sizing: content-box;
    width: rem(48);
  }
}

.placeholder {
  color: var(--white-60) !important;
}

.icon {
  display: flex;
  align-items: center;

  &.isActive {
    transform: rotate(180deg);
  }
}

.options {
  @include spacing(padding, 10, 'all');
  position: absolute;
  top: rem(35);
  min-width: 100%;
  list-style-type: none;
  border-radius: rem(8);
  background: var(--background-70, rgba(18, 23, 34, 0.7));
  box-shadow:
    rem(2) rem(2) rem(4) rem(0) rgba(0, 0, 0, 0.15),
    rem(0) rem(0) rem(4) rem(0) rgba(43, 46, 58, 0.15) inset,
    rem(0) rem(0) rem(15) rem(0) rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: rem(8);
  z-index: 2;

  li {
    cursor: pointer;
    @include font-size('text-md', 'regular');
    font-family: $roboto;
    color: var(--white);
  }

  &.isHidden {
    display: none;
  }
}
