html,
body {
  height: 100%;
}

html {
  @include font-smoothing(antialiased);
}

body {
  background: var(--body-background);
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

body.is-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: $transition_all;
  outline: none;
}

* {
  box-sizing: border-box;
}

.appWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.appWrapper::before,
.appWrapper::after {
  content: '';
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.appWrapper::before {
  animation: beforeMove 5s infinite alternate;
  background: var(--purple-rgba-30);
  filter: blur(rem(100));
  top: 0;
  left: -50%;
  bottom: 50%;
  right: 90%;
}

.appWrapper::after {
  animation: afterMove 5s infinite alternate;
  background: var(--green-rgba-20);
  filter: blur(rem(100));
  top: 50%;
  right: -50%;
  bottom: 0;
  left: 90%;
}

.customUsetAvatar {
  height: 100%;
  width: 100%;
  svg {
    height: 100%;
    width: 100%;
  }
}
[role='dialog'] {
  h2 {
    white-space: nowrap;
    word-wrap: initial;
  }
}

@keyframes beforeMove {
  0% {
    top: 0;
    right: 90%;
    bottom: 50%;
    left: -50%;
  }
  50% {
    top: -10%;
    right: 80%;
    bottom: 40%;
    left: -60%;
  }
  100% {
    top: 0;
    right: 90%;
    bottom: 50%;
    left: -50%;
  }
}

@keyframes afterMove {
  0% {
    top: 50%;
    right: -50%;
    bottom: 0;
    left: 90%;
  }
  50% {
    top: 40%;
    right: -60%;
    bottom: -10%;
    left: 80%;
  }
  100% {
    top: 50%;
    right: -50%;
    bottom: 0;
    left: 90%;
  }
}
