// Headings
h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: normal;
  margin: 0;
}

p {
  color: var(--white);
}

h3 {
  @include font-size('text-md', 'semibold');
  @include spacing(margin, 15, 'bottom');
  font-family: $lato;
  color: var(--white);
}

h4 {
  @include font-size('text-sm', 'semibold');
  color: var(--white);
  font-family: $lato;
}

h5 {
  @include font-size('text-xs', 'regular');
  color: var(--white-60);
  font-family: $lato;
}
