.container {
  display: flex;
  gap: rem(16);
  width: 100%;
  height: 100%;
}

.leftPanel,
.rightPanel {
  border: rem(1) solid var(--panel-outline, rgba(255, 255, 255, 0.1));
  background: var(--panel, linear-gradient(180deg, rgba(28, 30, 38, 0.18) 0%, rgba(28, 30, 38, 0.6) 100%));
  box-shadow:
    2px 2px 4px 0px rgba(0, 0, 0, 0.15),
    0px 0px 4px 0px rgba(43, 46, 58, 0.15) inset,
    0px 0px 15px 0px rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));
  border-radius: rem(30);
}

.leftPanel {
  width: 37%;
}

.tab {
  @include spacing(padding, 24, 'left+right');
  @include spacing(padding, 34, 'top'); // TODO: should be changed to top+bottom once chart height is fixed
  display: flex;
  align-items: flex-start;
  gap: rem(15);
  cursor: pointer;
  position: relative;

  &:first-child {
    border-top-left-radius: rem(30);
    border-top-right-radius: rem(30);
  }

  &:last-child {
    border-bottom-left-radius: rem(30);
    border-bottom-right-radius: rem(30);
  }

  &:after {
    content: '';
    height: rem(1);
    background: var(--white-10);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:last-child:after {
    display: none;
  }

  &:hover:not(.isActive) {
    background-color: var(--white-5);
  }
}

.isActive {
  background: var(--Selected-fill, linear-gradient(270deg, rgba(94, 225, 145, 0) 43.44%, rgba(94, 225, 154, 0.5) 100%));

  &:first-child {
    border-top-left-radius: rem(30);
  }

  &:last-child {
    border-bottom-left-radius: rem(30);
  }
}

.tabInfo {
  display: flex;
  flex-direction: column;
  flex: 1;

  h3 {
    color: var(--white);
    font-family: $lato;
    @include spacing(margin, 10, 'bottom');
    @include font-size('text-md', 'semibold');
  }

  p {
    @include font-size('text-xs', 'regular');
    color: var(--white-60);
    line-height: rem(20);
  }
}

.tabChart {
  flex: 1;
}

.subTabs {
  width: 48%;

  button {
    width: 100%;
    border: rem(1) solid;

    &:first-child {
      border-top-left-radius: rem(8);
      border-bottom-left-radius: rem(8);
    }

    &:last-child {
      border-top-right-radius: rem(8);
      border-bottom-right-radius: rem(8);
    }
  }
}

.rightPanel {
  @include spacing(padding, 42, 'left+right');
  @include spacing(padding, 32, 'top+bottom');
  flex: 1;
}

.rightPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include spacing(margin, 12, 'bottom');

  div {
    width: unset;
  }

  h2 {
    color: var(--white);
    font-family: $lato;
    @include font-size('text-xl', 'semibold');
  }

  p {
    font-family: $roboto;
    @include font-size('text-xs', 'regular');
  }
}
