.container {
  display: flex;
  gap: rem(16);
  width: 100%;
  height: 100%;
}

.leftPanel,
.rightPanel {
  background: linear-gradient(180deg, rgba(28, 30, 38, 0.18) 0%, rgba(28, 30, 38, 0.6) 100%);
  box-shadow:
    rem(2) rem(2) rem(4) 0px rgba(0, 0, 0, 0.15),
    0px 0px rem(4) 0px rgba(43, 46, 58, 0.15) inset,
    0px 0px rem(15) 0px rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));
  border-radius: rem(30);

  &:before {
    content: '';
    position: absolute;
    border-radius: rem(30);
    top: -(rem(0.5));
    bottom: -(rem(0.5));
    right: -(rem(0.5));
    left: -(rem(0.5));
    z-index: -1;
    border: rem(0.5) solid transparent;
    background: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    opacity: 0.2;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    background-image: url('../../../assets/noise.png');
    background-repeat: repeat;
    position: absolute;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: rem(30);
  }

  >* {
    z-index: 1;
    position: relative;
  }
}

.leftPanel {
  display: flex;
  flex-direction: column;
  width: 36.78%;
  min-width: 36.78%;
}

.rightPanel {
  @include spacing(padding, 42, 'left+right');
  @include spacing(padding, 32, 'top+bottom');
  width: 63.22%;
  min-width: 63.22%;
}

.tab {
  @include spacing(padding, 20, 'left+right');
  transition: $transition_all;
  padding-top: rem(30);
  padding-bottom: rem(30);
  flex: 1;
  display: flex;
  align-items: center;
  gap: rem(15);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: rem(0.5) solid var(--white-10);
  }

  &:first-child {
    border-top-left-radius: rem(30);
    border-top-right-radius: rem(30);
  }

  &:last-child {
    border-bottom-left-radius: rem(30);
    border-bottom-right-radius: rem(30);
  }

  // &:after {
  //   content: '';
  //   height: rem(0.5);
  //   background: #35333e;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }

  &:last-child:after {
    display: none;
  }

  &:hover:not(.isActive) {
    background-color: var(--white-5);
  }
}

.isActive {
  background: linear-gradient(270deg, rgba(94, 225, 145, 0) 43.44%, rgba(94, 225, 154, 0.5) 100%);
  p {
    color: var(--white) !important;
  }
  cursor: default;

  &:first-child {
    border-top-left-radius: rem(30);
  }

  &:last-child {
    border-bottom-left-radius: rem(30);
  }
}

.tabInfo {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  width: 60%;

  h3 {
    @include font-size('text-md', 'semibold');
    color: var(--white);
    font-family: $lato;
    margin-bottom: 0;
    white-space: pre-line;
  }

  p {
    @include font-size('text-xs', 'regular');
    font-family: $lato;
    color: var(--white-60);
    line-height: normal;
    white-space: pre-line;
  }
}

.tabChart {
  width: 40%;
}

.rightPanelHeader {
  @include spacing(margin, 13, 'bottom');
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  &.hasSubtitles {
    @include spacing(margin, 34, 'bottom');
  }

  h2 {
    @include font-size('text-xl', 'semibold');
    color: var(--white);
    font-family: $lato;
  }

  p {
    font-family: $roboto;
    @include font-size('text-xs', 'regular');
  }
}

.toggleWrapper {
  div {
    width: unset;
  }
} 

@media (max-width: $desktop) {
  .tabInfo {
    h3{
      font-size: 0.875rem;
    }
    p{
      font-size: 0.625rem;
      line-height: 0.75rem;
    }
  }
  .tabInfo{
    width: 75%;
  }
  .tabChart {
    width: 25%;
  }
  .dropDownPanel{
    background: #1C2028;
    border-radius: 1.875rem;
    border: 1px solid #cccccc61;
    position: relative;
    overflow: hidden;
    transition: .3s all;
    .tab{
      background-color: transparent;
      gap: 3rem;
      padding-right: 3rem !important;
      height: 151px;
      &::after{
        display: none;
      }
      &:first-child{
        background: linear-gradient(270deg, rgba(94, 225, 145, 0) 43.44%, rgba(94, 225, 154, 0.5) 100%);
      }
    }
  }
  .container {
    flex-direction: column;
  }
  .rightPanel{
    width: 100%;
    background: #1C2028;
    border: 1px solid #cccccc61;
    padding: 2rem 1.2rem;
    .rightPanelHeader {
      h2 {
        font-size: 1rem
      }
      p{
        font-size: 0.625rem;
      }
    } 
  }
  .openStoriesDropdown{
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #35333E;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: $mobile) {
  .dropDownPanel {
    background: linear-gradient(180deg, rgba(28, 30, 38, 0.18) 0%, rgba(28, 30, 38, 0.6) 100%);
    box-shadow: 0.125rem 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.15), 0px 0px 0.25rem 0px rgba(43, 46, 58, 0.15) inset, 0px 0px 0.9375rem 0px rgba(43, 46, 58, 0.15) inset;
    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    .tab{
      gap: 1rem;
      .tabInfo{
        width: 60%;
      }
      .tabChart{
        width: 40%;
      }
    }
  }
  .rightPanel{
    background: linear-gradient(180deg, rgba(28, 30, 38, 0.18) 0%, rgba(28, 30, 38, 0.6) 100%);
    box-shadow: 0.125rem 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.15), 0px 0px 0.25rem 0px rgba(43, 46, 58, 0.15) inset, 0px 0px 0.9375rem 0px rgba(43, 46, 58, 0.15) inset;
    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
  }
}

.underTextLabel {
  position: absolute;
  top: calc(100% + rem(2));
  font-family: $lato;
  white-space: nowrap;
  @include font-size('text-sm', 'regular');
  font-style: italic;
  color: var(--white-80);
  &.selected {
    color: var(--white);
  }
}

.radioOptionLbl {
  display: flex;
  flex-direction: column;
  align-items: center;
}