.table {
  display: flex;
  flex-direction: column;

  .row {
    @include spacing(padding, 16, 'top+bottom');
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: rem(1) solid var(--white-rgba-10);

    &.header {
      @include spacing(padding, 8, 'bottom');
      color: var(--gray-400);
      background: none;
      box-shadow: none;
      border-bottom: rem(1) solid var(--white-rgba-10);

      .cell {
        @include font-size('text-xs', 'regular');
        color: var(--white-60);
      }
    }

    &.data {
      color: var(--white);
    }

    .cell {
      @include font-size('text-md', 'regular');
      font-family: $roboto;
      display: flex;
      flex: 1;

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}

.delete {
  background: none;
  padding: 0;
  height: auto;

  &:hover {
    background: none;
  }

  svg {
    height: rem(24);
    width: rem(24);
  }

  svg path {
    stroke: var(--red-20);
  }

  &:before {
    display: none;
  }
}
