.table {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  color: var(--white);

  .row {
    @include spacing(padding, 16, 'top+bottom');
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(38);
    border-top: rem(1) solid var(--white-rgba-10);

    &:last-child {
      border-bottom: rem(1) solid var(--white-rgba-10);
    }

    &.isExpanded {
      @include spacing(padding, 8, 'bottom');
      border-bottom: rem(1) solid transparent;
    }

    &.header {
      @include spacing(padding, 8, 'bottom');
      color: var(--gray-400);
      background: none;
      box-shadow: none;
      border-top: 0;
      border-bottom: rem(1) solid var(--white-rgba-10);

      .cell {
        position: relative;
        @include font-size('text-xs', 'regular');
        align-items: center;
        gap: rem(2);
        color: var(--white-60);
      }
    }

    &.data {
      color: var(--white);
    }

    .cell {
      @include font-size('text-md', 'regular');
      font-family: $roboto;
      display: flex;

      &:nth-child(1) {
        width: 2%;
      }

      &:nth-child(2) {
        justify-content: center;
      }

      &:nth-child(8) {
        justify-content: flex-end;
      }

      &:nth-child(9) {
        width: 5%;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        flex-basis: 22%;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        width: calc(90% / 7);
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}

.dropdown {
  background: none;
  padding: 0;
  height: auto;
  border-radius: 0;

  &:hover {
    background: none;
  }

  &:before {
    display: none;
  }

  &.isActive {
    transform: rotate(180deg);
  }
}

.delete {
  background: none;
  padding: 0;
  height: auto;
  border-radius: 0;

  &:hover {
    background: none;
  }

  svg {
    height: rem(24);
    width: rem(24);
  }

  svg path {
    stroke: var(--red-20);
  }

  &:before {
    display: none;
  }
}

.currency {
  display: flex;
  align-items: center;
  gap: rem(4);

  svg {
    height: rem(16);
    width: rem(16);
  }
}

.filter,
.sort {
  @include spacing(padding, 4, 'all');
  background: none;
  height: auto;
  border-radius: rem(4);

  &:before {
    display: none;
  }

  &:hover {
    background: var(--white-5);
  }
}

.sort {
  svg path {
    stroke: inherit;
  }
}

.filter {
  svg path {
    stroke: revert-layer;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: rem(3);

  .time {
    @include spacing(margin, 8, 'left');
  }
}

.filterDropdown {
  @include spacing(padding, 16, 'all');
  position: absolute;
  top: rem(20);
  left: 0;
  min-width: rem(125);
  list-style-type: none;
  border-radius: rem(8);
  background: rgba(18, 23, 34);
  box-shadow:
    rem(2) rem(2) rem(4) rem(0) rgba(0, 0, 0, 0.15),
    rem(0) rem(0) rem(4) rem(0) rgba(43, 46, 58, 0.15) inset,
    rem(0) rem(0) rem(15) rem(0) rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: rem(8);
  z-index: 2;
}

.hide {
  display: none;
}

.clearAll {
  @include spacing(padding, 4, 'all');
  @include font-size('text-xs', 'bold');
  font-family: $roboto;
  background: none;
  height: auto;

  &:before {
    display: none;
  }

  &:hover {
    background: none;
    color: var(--green-30);
  }

  &.selected {
    color: var(--green-30);
  }
}

.emptyTable {
  @include font-size('text-xs', 'regular');
  padding: rem(150) 0;
  text-align: center;
}

.isOpacity {
  opacity: 0.1;
}
