.container {
  position: relative;

  &:before {
    content: url("data:image/svg+xml,%3Csvg width='103' height='30' viewBox='0 0 103 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4487 15.975L23.2273 14.4204L23.8541 13.8843L26.378 11.6864L27.2758 10.9002C27.3943 10.793 27.496 10.6857 27.5807 10.5607C28.1397 9.79229 28.1566 8.66653 27.5299 7.88029C27.1911 7.45143 26.7337 7.20126 26.2425 7.12979C25.7004 7.04044 25.1245 7.20126 24.6672 7.59439L23.329 8.77375L22.7361 9.29195C22.3634 9.63147 22.1602 10.0961 22.1094 10.5964C22.0924 10.65 22.0755 10.9895 22.0755 11.1682C22.0585 11.4184 21.9908 11.6507 21.9061 11.883C21.8214 12.0795 21.7028 12.3118 21.5673 12.5263C20.6695 13.9558 18.8909 15.5283 16.4687 14.6706C16.4178 14.6527 15.9774 14.474 15.808 14.3847C15.6895 12.9909 16.367 11.6686 17.5189 11.0074L20.1614 9.47064C21.0422 8.97031 27.2588 3.77039 27.2588 3.77039C28.1227 3.01988 28.2413 1.66183 27.5299 0.750504C27.496 0.696897 27.4452 0.643289 27.3943 0.607551C27.3774 0.589682 27.3605 0.571813 27.3435 0.571813C27.3096 0.536074 27.2758 0.518205 27.2419 0.482467C27.2249 0.464598 27.208 0.446729 27.1911 0.446729C27.1572 0.428859 27.1233 0.393121 27.1064 0.375252C27.0894 0.357383 27.0725 0.357383 27.0556 0.339514C27.0217 0.321645 26.9878 0.303775 26.9539 0.285906C26.937 0.268037 26.92 0.268037 26.9031 0.250168C26.8692 0.232299 26.8353 0.21443 26.8015 0.196561C26.7845 0.196561 26.7676 0.178691 26.7507 0.178691C26.7168 0.160822 26.666 0.142953 26.6321 0.125084C26.6151 0.125084 26.5982 0.107215 26.5813 0.107215C26.5304 0.0893457 26.4796 0.0714766 26.4288 0.0714766H26.4119C26.378 0.0714766 26.3441 0.0536074 26.3102 0.0536074C26.2764 0.0536074 26.2425 0.0357383 26.2086 0.0357383C26.1747 0.0357383 26.1239 0.0357383 26.09 0.0178691C26.0562 0.0178691 26.0392 0.0178691 26.0053 0.0178691C25.9715 0.0178691 25.9206 0.0178691 25.8868 0.0178691C25.8529 0.0178691 25.819 0.0178691 25.8021 0.0178691C25.7682 0.0178691 25.7174 0.0178691 25.6835 0.0357383C25.6496 0.0357383 25.6157 0.0536074 25.5819 0.0536074C25.548 0.0536074 25.5141 0.0714766 25.4633 0.0714766C25.4294 0.0893457 25.3955 0.0893457 25.3617 0.107215C25.3278 0.125084 25.2939 0.125084 25.26 0.142953C25.2261 0.160822 25.1923 0.178691 25.1414 0.196561C25.1076 0.21443 25.0737 0.232299 25.0567 0.232299C25.0229 0.250168 24.9721 0.285906 24.9382 0.303775C24.9212 0.321645 24.8874 0.339514 24.8704 0.339514C24.8027 0.375252 24.7518 0.428859 24.6841 0.482467L22.7869 2.12643C22.7192 2.18004 22.6683 2.23364 22.6175 2.30512C22.5837 2.34086 22.5667 2.35873 22.5498 2.39446C22.5328 2.41233 22.5159 2.4302 22.499 2.46594C22.482 2.48381 22.482 2.50168 22.4651 2.50168C22.4481 2.51955 22.4481 2.53742 22.4312 2.55529C22.4143 2.57316 22.4143 2.59103 22.3973 2.60889C22.3973 2.62676 22.3804 2.64463 22.3804 2.64463C22.3634 2.68037 22.3296 2.73398 22.3126 2.76972C22.3126 2.78759 22.2957 2.80546 22.2957 2.82332C22.2788 2.85906 22.2618 2.91267 22.2449 2.94841C22.2449 2.96628 22.2279 2.98415 22.2279 3.00202C22.211 3.03775 22.1941 3.09136 22.1941 3.1271C22.1941 3.14497 22.1771 3.16284 22.1771 3.18071C22.1602 3.21645 22.1602 3.27005 22.1432 3.30579C22.1432 3.32366 22.1263 3.34153 22.1263 3.37727C22.1263 3.41301 22.1094 3.46661 22.1094 3.50235C22.1094 3.52022 22.1094 3.53809 22.1094 3.57383C22.1094 3.62744 22.1094 3.66317 22.1094 3.71678C22.1094 3.73465 22.1094 3.75252 22.1094 3.77039C22.1094 3.84187 22.1094 3.91334 22.1094 3.96695C22.1432 4.32433 21.3132 6.64732 15.3846 7.4693C14.9442 7.52291 14.4868 7.54078 14.0294 7.54078C13.5721 7.54078 13.1147 7.52291 12.6743 7.4693C6.74566 6.64732 5.91564 4.32433 5.94952 3.96695C5.94952 3.89547 5.94952 3.824 5.94952 3.77039C5.94952 3.75252 5.94952 3.73465 5.94952 3.71678C5.94952 3.66317 5.94952 3.62744 5.94952 3.57383C5.94952 3.55596 5.94952 3.53809 5.94952 3.50235C5.94952 3.46661 5.93258 3.41301 5.93258 3.37727C5.93258 3.3594 5.91564 3.34153 5.91564 3.30579C5.89871 3.27005 5.89871 3.21645 5.88177 3.18071C5.88177 3.16284 5.86483 3.14497 5.86483 3.1271C5.84789 3.09136 5.84789 3.03775 5.83095 3.00202C5.83095 2.98415 5.81401 2.96628 5.81401 2.94841C5.79707 2.91267 5.78013 2.85906 5.76319 2.82332C5.76319 2.80546 5.74625 2.78759 5.74625 2.76972C5.72932 2.73398 5.69544 2.68037 5.6785 2.64463C5.6785 2.62676 5.66156 2.60889 5.66156 2.60889C5.64462 2.59103 5.64462 2.57316 5.62768 2.55529C5.61074 2.53742 5.61074 2.51955 5.5938 2.50168C5.57686 2.48381 5.57686 2.46594 5.55992 2.46594C5.54299 2.44807 5.52605 2.4302 5.50911 2.39446C5.49217 2.35873 5.45829 2.34086 5.44135 2.30512C5.39053 2.25151 5.32278 2.18004 5.27196 2.12643L3.34091 0.464598C3.27315 0.41099 3.22234 0.357383 3.15458 0.321645C3.13764 0.303775 3.10376 0.285906 3.08683 0.285906C3.05295 0.268037 3.00213 0.232299 2.96825 0.21443C2.93437 0.196561 2.9005 0.178691 2.88356 0.178691C2.84968 0.160822 2.8158 0.142953 2.76498 0.125084C2.73111 0.107215 2.69723 0.107215 2.66335 0.0893457C2.62947 0.0714766 2.59559 0.0714766 2.56172 0.0536074C2.52784 0.0357383 2.49396 0.0357383 2.44314 0.0357383C2.40926 0.0357383 2.37539 0.0178691 2.34151 0.0178691C2.30763 0.0178691 2.25681 0 2.22293 0C2.18906 0 2.15518 0 2.13824 0C2.10436 0 2.05354 0 2.01967 0C1.98579 0 1.96885 0 1.93497 0C1.90109 0 1.85028 0 1.8164 0.0178691H1.79946C1.76558 0.0178691 1.74864 0.0357383 1.7317 0.0357383C1.69782 0.0357383 1.68089 0.0357383 1.64701 0.0536074H1.63007H1.61313C1.52843 0.0536074 1.47762 0.0714766 1.4268 0.0714766C1.40986 0.0714766 1.39292 0.0893457 1.37598 0.0893457C1.34211 0.107215 1.30823 0.125084 1.25741 0.142953C1.24047 0.142953 1.22353 0.160822 1.20659 0.160822C1.17271 0.178691 1.13884 0.196561 1.10496 0.21443C1.07108 0.232299 1.05414 0.250168 1.0372 0.250168C1.00332 0.268037 0.969447 0.303775 0.935569 0.321645C0.91863 0.339514 0.90169 0.339514 0.884751 0.357383C0.850873 0.375252 0.816995 0.41099 0.800056 0.428859C0.766178 0.446729 0.749239 0.464598 0.7323 0.482467C0.698422 0.500336 0.681483 0.536074 0.647605 0.571813C0.630666 0.571813 0.613727 0.589682 0.596788 0.607551C0.56291 0.661158 0.512093 0.696897 0.478215 0.750504C-0.250164 1.66183 -0.131591 3.01988 0.7323 3.77039C0.7323 3.77039 6.96586 8.97031 7.82976 9.47064L10.4722 11.0074C11.6241 11.6686 12.3017 13.0087 12.1831 14.3847C11.9968 14.474 11.5563 14.6527 11.5225 14.6706C9.08324 15.5104 7.32158 13.9558 6.45769 12.562C6.32218 12.3297 6.20361 12.1153 6.11891 11.9187C6.01728 11.6864 5.96646 11.4541 5.94952 11.204C5.93258 11.0431 5.93258 10.8644 5.91564 10.8108C5.91564 10.7572 5.91564 10.6857 5.89871 10.6321C5.84789 10.1318 5.64462 9.64934 5.27196 9.32769L4.67909 8.80949L3.34091 7.63012C2.88356 7.237 2.30763 7.07618 1.76558 7.16553C1.27435 7.237 0.816995 7.48717 0.478215 7.91603C-0.14853 8.70227 -0.131591 9.81016 0.427397 10.5964C0.512093 10.7036 0.613727 10.8108 0.7323 10.918L1.63007 11.7043L4.15398 13.9022L4.78073 14.4383L6.55933 15.9929C6.84729 16.243 7.08444 16.5826 7.21995 16.9578C7.54179 17.9227 7.35546 19.0306 6.62708 19.8169C6.62708 19.8169 6.62708 19.8169 6.61014 19.8347C5.27196 18.977 5.69544 17.4403 5.69544 17.4403C5.71238 17.2437 5.6785 17.0472 5.5938 16.8685C5.54299 16.7434 5.45829 16.6362 5.35666 16.5468L5.22114 16.4217C5.22114 16.4217 5.22114 16.4217 5.20421 16.4039L5.00094 16.2252L4.37419 15.6712L3.69663 15.0816L3.49336 14.9029L3.34091 14.7778C2.52784 14.063 1.34211 14.1345 0.613727 14.9029C0.56291 14.9386 0.512093 14.9922 0.478215 15.0458C0.308824 15.2602 0.190251 15.4925 0.122495 15.7427C0.0886169 15.8678 0.0547388 15.975 0.0377998 16.1001C-0.0130173 16.4396 0.00392168 16.7791 0.105556 17.1008C0.190251 17.3331 5.18727 29.5556 13.5721 29.5556C13.8092 29.5556 14.1819 29.5556 14.419 29.5556C22.8039 29.5556 27.8009 17.3331 27.8856 17.1008C28.0041 16.7791 28.0211 16.4396 27.9703 16.1001C27.9533 15.975 27.9195 15.8499 27.8856 15.7427C27.8009 15.4925 27.6823 15.2602 27.5299 15.0458C27.496 14.9922 27.4452 14.9386 27.3943 14.9029C26.666 14.1345 25.4802 14.063 24.6672 14.7778L24.5147 14.9029L24.3114 15.0816L23.6339 15.6712L23.0071 16.2252L22.8039 16.4039C22.8039 16.4039 22.8039 16.4039 22.7869 16.4217L22.6683 16.529C22.5667 16.6183 22.482 16.7255 22.4312 16.8506C22.3465 17.0293 22.3126 17.2259 22.3296 17.4224C22.3296 17.4224 22.753 18.9592 21.4149 19.8169C21.4149 19.8169 21.4149 19.8169 21.3979 19.799C20.4832 18.8162 20.4155 17.3152 21.1438 16.243L21.4487 15.975ZM13.9956 18.566L12.5557 17.0472L13.3519 16.2073C13.7076 15.8321 14.2835 15.8321 14.6562 16.2073L15.4523 17.0472L13.9956 18.566Z' fill='white' fillOpacity='0.2' /%3E%3Cpath d='M43.4716 8.64098V20.2773H41.0114V8.64098H43.4716ZM45.0526 10.6694V8.64098H54.6094V10.6694H51.0469V20.2773H48.6151V10.6694H45.0526ZM56.1832 20.2773V8.64098H58.6435V13.4421H63.6378V8.64098H66.0923V20.2773H63.6378V15.4705H58.6435V20.2773H56.1832ZM70.1264 20.2773H67.4901L71.5071 8.64098H74.6776L78.6889 20.2773H76.0526L73.1378 11.3001H73.0469L70.1264 20.2773ZM69.9616 15.7035H76.1889V17.6239H69.9616V15.7035ZM89.8097 12.7148H87.321C87.2756 12.3929 87.1828 12.1069 87.0426 11.8569C86.9025 11.6031 86.7225 11.3872 86.5028 11.2092C86.2831 11.0311 86.0294 10.8948 85.7415 10.8001C85.4574 10.7054 85.1487 10.658 84.8153 10.658C84.2131 10.658 83.6884 10.8076 83.2415 11.1069C82.7945 11.4023 82.4479 11.8342 82.2017 12.4023C81.9555 12.9667 81.8324 13.6523 81.8324 14.4592C81.8324 15.2887 81.9555 15.9857 82.2017 16.5501C82.4517 17.1145 82.8002 17.5406 83.2472 17.8285C83.6941 18.1164 84.2112 18.2603 84.7983 18.2603C85.1278 18.2603 85.4328 18.2167 85.7131 18.1296C85.9972 18.0425 86.2491 17.9156 86.4688 17.7489C86.6884 17.5785 86.8703 17.372 87.0142 17.1296C87.1619 16.8872 87.2642 16.6107 87.321 16.3001L89.8097 16.3114C89.7453 16.8455 89.5843 17.3607 89.3267 17.8569C89.0729 18.3493 88.7301 18.7906 88.2983 19.1808C87.8703 19.5671 87.3589 19.8739 86.7642 20.1012C86.1733 20.3247 85.5047 20.4364 84.7585 20.4364C83.7206 20.4364 82.7926 20.2016 81.9744 19.7319C81.16 19.2622 80.5161 18.5823 80.0426 17.6921C79.5729 16.802 79.3381 15.7243 79.3381 14.4592C79.3381 13.1902 79.5767 12.1107 80.054 11.2205C80.5313 10.3304 81.179 9.65234 81.9972 9.18643C82.8153 8.71674 83.7358 8.48189 84.7585 8.48189C85.4328 8.48189 86.0578 8.57659 86.6335 8.76598C87.2131 8.95537 87.7263 9.23189 88.1733 9.59552C88.6203 9.95537 88.9839 10.3967 89.2642 10.9194C89.5483 11.4421 89.7301 12.0406 89.8097 12.7148ZM93.3608 20.2773H90.7244L94.7415 8.64098H97.9119L101.923 20.2773H99.2869L96.3722 11.3001H96.2812L93.3608 20.2773ZM93.196 15.7035H99.4233V17.6239H93.196V15.7035Z' fill='white' fillOpacity='0.2' /%3E%3C/svg%3E%0A");
    position: absolute;
    bottom: rem(100);
    left: rem(50);
    opacity: 0.2;
    z-index: 2;
    pointer-events: none;
  }
}

.legend,
.legend span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend {
  gap: rem(16);
  width: 100%;
  justify-content: center;
  top: rem(37);
  display: flex;
  position: relative;
}

.legend span {
  @include font-size('text-xs', 'semibold');
  gap: rem(3);
  font-family: $roboto;
  color: #9a9daa;

  &:first-child {
    @include spacing(padding, 8, 'left+right');
    @include spacing(padding, 4, 'top+bottom');
    background: var(--white-10);
    border-radius: rem(10);
    color: var(--white);
  }
}

.total,
.call,
.put {
  height: rem(8);
  width: rem(8);
  border-radius: 50%;
}

.total {
  background: var(--white);
}

.call {
  background: var(--green-20);
}

.put {
  background: var(--red-20);
}

.axisLabel {
  @include font-size('text-sm', 'semibold');
  font-family: $roboto;
  color: var(--white-60);
}

.tooltip {
  @include spacing(padding, 10, 'all');
  display: flex;
  flex-direction: column;
  gap: rem(8);
  border-radius: rem(8);
  background: rgba(18, 23, 34, 0.7);
  box-shadow:
    rem(2) rem(2) rem(4) 0px rgba(0, 0, 0, 0.15),
    0px 0px rem(4) 0px rgba(43, 46, 58, 0.15) inset,
    0px 0px rem(15) 0px rgba(43, 46, 58, 0.15) inset;
  backdrop-filter: blur(rem(10));

  .row {
    @include font-size('text-md', 'regular');
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    font-family: $roboto;
    gap: rem(8);

    p,
    span {
      @include font-size('text-xs', 'regular');
      color: var(--white-60);
      font-family: $lato;
    }

    .value {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem(4);
    }
  }
}

.leftLabel {
  position: absolute;
  @include font-size('text-sm', 'medium');
  color: var(--white-60);
  top: 50%;
  transform: translate(-45%, -300%) rotate(-90deg);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.headerExpiryContainer {
  display: flex;
  align-items: center;
  gap: rem(10);

  & p {
    @include font-size('text-xs', 'regular');
    font-family: $roboto;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  gap: rem(4);
  margin-bottom: rem(16);

  & p {
    @include font-size('text-xs', 'regular');
    font-family: $lato;
  }

  & h3 {
    @include font-size('text-md', 'semibold');
    font-family: $roboto !important;
    margin: 0 !important;
    padding: 0;

    @include breakpoint(tablet) {
      @include font-size('text-sm', 'semibold');
    }
  }
}
