.header {
  @include spacing(padding, 16, 'top+bottom');
  background: var(--gradient-panel-bg);
  backdrop-filter: blur(10rem);
  position: relative;
  border-radius: rem(22);
  max-width: map-get($container-sizes, xl);
  margin: rem(12) auto rem(16);
  width: 100%;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    border-radius: rem(22);
    top: -(rem(1));
    bottom: -(rem(1));
    right: -(rem(1));
    left: -(rem(1));
    z-index: -1;
    border: rem(1) solid transparent;
    background: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    opacity: 0.2;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    background-image: url('../../../assets/noise.png');
    background-repeat: repeat;
    position: absolute;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: rem(22);
  }
}

.container {
  @include spacing(padding, 24, 'left+right');
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  gap: rem(45);
}

.right {
  gap: rem(25);

  button {
    font-family: $roboto !important;
    font-size: rem(12) !important;
    padding: rem(10) rem(16) !important;
    border-radius: rem(16) !important;
    position: relative !important;
    background: #3c8d60 !important;

    &:hover,
    &:active {
      transform: none !important;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: rem(16);
      top: -(rem(1));
      bottom: -(rem(1));
      right: -(rem(1));
      left: -(rem(1));
      z-index: -1;
      background: linear-gradient(var(--green-30) 0%, rgba(94, 225, 146, 0) 100%);
    }

    div:nth-child(2) {
      background: none !important;
      border: 0 !important;
      padding: 0 !important;

      div {
        font-family: $roboto !important;
        font-size: rem(14) !important;

        svg {
          animation: none !important;
        }
      }
    }
  }
}
